@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .markdown-content h1 {
    @apply mt-8 text-2xl leading-tight;
  }
  .markdown-content h2 {
    @apply mt-6 text-xl;
  }
  .markdown-content p {
    @apply my-4 leading-relaxed;
  }
  .markdown-content ul {
    @apply list-disc list-inside my-4;
  }
  .markdown-content ol {
    @apply list-decimal list-inside my-4;
  }
  .markdown-content ul li,
  .markdown-content ol li {
    @apply ml-4;
  }
  .markdown-content ol li > p,
  .markdown-content ul li > p {
    @apply inline m-0;
  }
  .markdown-content blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic my-4;
  }
}
